@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RaceSport';
  src: url('../../public/fonts/RaceSport.ttf');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --cor-azul: #130a79;
    --cor-azul-barra: #0f0949;
    --cor-vermelho: #d21312;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background-color: var(--cor-vermelho);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--cor-azul-barra);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fonteTitulo{
  font-family: 'RaceSport', sans-serif;
  font-size: 1.6rem;
}

.corCabecalho{
  background-color: #130a79;
}

.card-description{
  display: grid;
  grid-template-columns: auto 20%;
}

.p-carousel-prev, .p-carousel-next {
  color: black;
}

@media screen and (min-width: 1440px){
  .newsletter{
    display: grid;
    grid-template-columns: 40% 1fr;
  }
  .newsletter h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8em;
    line-height: 1em;
    padding: .5em;
  } 
  .newsletter form{
    padding: .5em;
  }
  .newsletter .preferencias{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
  }
  .newsletter .preferencias > div{
    width: 100%;
    display: flex;
    align-items: center;
  }
  .newsletter .preferencias > div div{
    justify-content: center;
    width: 100%;
  }
}