@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RaceSport';
  src: url('./fonts/RaceSport.ttf');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaria: #FF1E1E;
  --secundaria: #0f1b5e;
  --terciaria: #fa9551;
  --quaternaria: #3a4cb4;
  --default: #F5F7F8;
  --cinza: #E4E4E7;
  --teste-1: #130A79;
  --teste-2: #D21312;
  --vermelho: #ED4E53;
  --azul-marinho: #00656F;
  --laranja: #FF9610;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

header {
  font-family: 'RaceSport';
}

header div:nth-child(1) ul li a:hover ul {
  display: block;
  z-index: 2;
}

.rede a::before {
  content: attr(data-rede);
  font-size: .4em;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -90%;
  color: white;
  background-color: black;
  line-height: 14px;
  padding: .4em;
  border-radius: 6px;
  display: none;
}

.rede a::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%);
  display: none;
}

.rede a:hover {
  transition: .5s ease;
  scale: 1.2;
}

.rede a:hover::after,
a:hover::before {
  display: block;
}

.p-accordion-header-link {
  background-color: var(--primaria);
}

.p-accordion-tab {
  margin-bottom: .5em;
}

.mvv {
  position: relative;
}

.mvv::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 40%;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-top: 120px solid #F4F6F7;
}

.marcas {
  height: 100%;
  max-height: 80px;
}

.marcas .swiper-wrapper {
  height: 100%;
}

.marcas .swiper-wrapper .swiper-slide {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.marcas .swiper-wrapper .swiper-slide a:hover {
  scale: 1.2;
  transition: .6s ease;
}

.marcas .swiper-wrapper .swiper-slide img {
  height: 60px;
  width: 100%;
}

/* AREÁ DA PAGINA DE PRODUTOS */
.produtos {
  max-width: 95%;
  margin: 0 auto;
}

.produtos .card .p-galleria-item-wrapper {
  display: grid;
  grid-template-columns: 60px 1fr;
  height: 100%;
  gap: .5em;
}

.produtos .card .p-galleria-item-wrapper .p-galleria-item-container {
  grid-column: 2/3;
}

.produtos .card .p-galleria-item-wrapper .p-galleria-indicators {
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: solid 1px black; 
}

.produtos .card .p-galleria-item-wrapper .p-galleria-indicators .p-galleria-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

.galleria {
  max-width: 450px;
  height: 20%;
  overflow-y: hidden;
  margin: 1.5em auto;
}
.galleria .miniatura{
  opacity: .5;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.galleria .miniatura:hover{
  opacity: 1;
}

@media screen and (min-width: 425px) {
  .produtos .card .p-galleria-item-wrapper {
    grid-template-columns: 90px 1fr;
  }
  .produtos .card .p-galleria-item-wrapper .p-galleria-indicators .p-galleria-indicator {
    width: 90px;
  }

}

@media screen and (min-width: 768px) {
  .container-personalizado {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .container-personalizado {
    grid-template-columns: auto 1fr;
  }
  
  .produtos{
    display: grid;
    grid-template-columns: 55% 1fr;
  }
  .produtos .card .galleria{
    height: 100%;
  } 
  .galleria {
    max-width: 500px;
  }
}
@media screen and (min-width: 1440px) {
  .produtos{
    margin-top: 1em;
  }
  .galleria {
    max-width: 650px;
  }
  .produtos .card .p-galleria-item-wrapper {
    grid-template-columns: 125px 1fr;
  }
  .produtos .card .p-galleria-item-wrapper .p-galleria-indicators .p-galleria-indicator {
    width: 125px;
  }
}