.triangulo {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--magenta);
}

.futebol::before,
.nba::before,
.nfl::before,
.esports::before,
.formula1::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--magenta);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    display: none;
}